# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Local run scripts
*.bat

# macOS / Windows junk (safe to ignore)
.DS_Store
Thumbs.db


.vs/
app/.vscode/
app/running instructions.txt
blog-related.zip

.gitignore